.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.hide {
    display: none;
}

.draging {
    opacity: 0;
}

.fl {
    float: left
}

.fr {
    float: right;
}

.mx-mask-layer {
    display: none;
    background-color: #000;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.4;
    position: fixed;
    transition: opacity 0.3s;
    z-index: 9;
}

.face-out {
    opacity: 0.6;
}

i.sprite.sprite-circle {
    background: url(//pc-newtab.maxthonimg.com/static/img/icon/union.png?v=20170830) 1px -112px no-repeat;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -25px;
}