.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.hide {
    display: none;
}

.draging {
    opacity: 0;
}

.fl {
    float: left
}

.fr {
    float: right;
}

.mx-mask-layer {
    display: none;
    background: rgba(255,255,255,0.20);
    /* background-color: #000; */
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.4;
    position: fixed;
    transition: opacity 0.3s;
    z-index: 3;
}

.face-out {
    opacity: 0.6;
}

i.sprite.sprite-circle {
    background: url(../img/icon/plus.svg) center center no-repeat;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -25px;
}

.close-btn::before, .close-btn::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 57%;
    top: 50%;
    left: 6px;
    background: #fff;
}

.close-btn::before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.close-btn::after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.drop-down::before, .drop-down::after {
    content: '';
    position: absolute;
    cursor: pointer;
}

.drop-down::before {
    width: 16px;
    height: 16px;
    right: -16px;
    top: 4px;
    background-position: center center;
    background-repeat: no-repeat;
    /* background: url(/static/img/icon/drop-down.svg) center center no-repeat; */
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.drop-down::after {
    width: 16px;
    height: 16px;
    right: -20px;
    top: 0px;
    background: rgba(255,255,255,0.3);
}

.drop-down.down::before {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
}