#wrapper {
    width: 75%;
    min-width: 900px;
    margin: 40px auto 100px;
}

#top {
    width: 104%;
    margin-left: -1.5%;
    position: relative;
    z-index: 1;
    height: 120px;
}

#main .nav-header {
    margin-left: -0.8%;
}

.nav-header-menu {
    float: left;
    position: relative;
    left: 50%;
}

.nav-header-menu li {
    float: left;
    position: relative;
    left: -50%;
    text-align: center;
    height: 28px;
    line-height: 28px;
    padding: 0px 24px;
    font-size: 13px;
    margin-left: 10px;
}

.nav-header-menu li.active { 
    background: rgba(255,255,255,0.20);
    border-radius: 100px;
}

.nav-header-menu li > a {
    display: block;
    height: 100%;
    color: #fff;
}

.nav-header-menu li.active > a {
    opacity: 0.5;
}

.nav-body {
    position: relative;
    left: 1px;
    top: 20px;
    /* margin-left: -0.8%; */
}


/** 背景透明时的样式 */

.dark .nav-header-menu li>a {
    color: #fff;
    opacity: 0.9;
}

.light .nav-header-menu li.active {
    background: rgba(0,0,0,0.30);
}

.light .nav-header-menu li>a {
    color: #333;
    opacity: 0.9;
}

.light .nav-header-menu li.active > a {
    color: #fff;
}

.light .grid .title {
    color: #333;
}

.light .fav-collapse::before {
    background-image: url(/static/img/icon/drop-down.svg)
}

.light .fav-list-container .after {
    background-color: #000;
}

/* .light .header .after {
    opacity: 0.05;
} */

.light .grid > a {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
}

.dark .fav-list-container .after {
    background-color: #fff;
}

.dark .thumbnail-container {
    background-color: rgba(255, 255, 255, .3);
    background-image: none;
}

#wallpapers, #wallpapers .anim_fade_image {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#wallpapers {
    position: fixed;
    z-index: -10;
    background-color: #fff;
}

#wallpapers .anim_fade_image {
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

#wallpapers video {
    margin: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    /* display: none; */
    position: absolute;
    left: -1px;
}

#wallpapers video.show {
    width: 100%;
    height: auto;
    object-position: left top;
    object-fit: none;
}

.mask {
    overflow: hidden;
}

/* 阻止滚动事件加模糊效果 */
.mask .header,
.mask .search-bar,
.mask #wrapper, .mask #wallpapers {
    filter: blur(20px);
    -webkit-filter: blur(20px);
}