.dialog {
    display: none;
    width: 948px;
    height: 440px;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.20);
    position: fixed;
    background-color: #f1f1f1;
    z-index: 999;
    transition: all 0.3s;
    margin: -220px 0px 0px -479px;
    left: 50%;
    top: 50%;
}

.dialog-warp {
    position: relative;
}

.dialog-header {
    border-bottom: 1px solid #e4e4e4;
    height: 47px;
    line-height: 47px;
    overflow: hidden;
}

.dialog-nav {
    font-size: 15px;
    height: 100%;
    background-color: transparent;
    color: #999;
    cursor: pointer;
    float: left;
    position: relative;
    left: 50%;
}

.dialog-nav li {
    float: left;
    height: 46px;
    padding: 0 15px;
    position: relative;
    right: 50%;
}

.dialog-nav .selected {
    color: #0080ff;
    border-bottom: 1px solid #0080ff;
}

.dialog-header .close {
    position: absolute;
    right: 14px;
    top: 9px;
    cursor: pointer;
    background: transparent url(//pc-newtab.maxthonimg.com/static/img/icon/union.png?v=20170830) no-repeat -129px -60px;
    width: 24px;
    height: 24px;
    text-indent: -99px;
    overflow: hidden;
}

.dialog-header .close:hover {
    background-position: -154px -60px;
}

.dialog-body {
    height: 400px;
}

.dialog-custome-add {
    margin: 24px auto 30px 175px;
}

.dialog-input {
    line-height: 32px;
    color: #666;
    position: relative;
    outline: none;
    width: 572px;
}

.dialog-input .input {
    padding: 10px 15px;
    width: 56%;
    color: #999;
    background-color: #fff;
    border: 1px solid #e4e4e4;
    margin: 0px 0px 30px 10px;
    font-size: 14px;
    font-family: "微软雅黑";
    height: 14px;
    line-height: 24px;
}

.dialog-input .input:hover,
.dialog-input .input:focus {
    border-color: #449efb;
}

.dialog-input .input.error {
    border-color: #f95344;
}

.dialog-input .tab {
    overflow: hidden;
    width: 570px;
    border: 1px solid #e4e4e4;
    border-bottom: none;
    background-color: #f8f8f8;
    height: 36px;
    line-height: 36px;
    color: #666;
}

.dialog-input .tab li.hover {
    background-color: #fff;
    color: #0080ff;
}

.dialog-input .tab li {
    float: left;
    padding: 0px 10px;
    text-align: center;
    width: 120px;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.dialog-input .main > ul {
    padding: 2px 0px;
    position: relative;
}

.dialog-input .main > li {
    position: relative;
}

.dialog-input .main-warp {
    width: 570px;
    height: 150px;
    overflow: auto;
    border: 1px solid #e4e4e4;
    border-top: none;
    background-color: #fff;
}

.dialog-input .main-warp li {
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: 22px 8px;
    cursor: pointer;
    padding-left: 20px;
}

.dialog-input .main-warp li:hover {
    background-color: #f8f8f8;
}

.dialog-input .main-warp #note_tree li:hover {
    background-color: #fff;
}

.jstree-wholerow {
    display: none;
    background-color: #f8f8f8;
    width: 100%;
    height: 30px;
    position: absolute;
    left: 0px;
}

.dialog-input .main-warp li.open {
    height: auto;
}

.dialog-input .main-warp li > a {
    display: block;
    width: 450px;
    height: 30px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dialog-input .main-warp li > a.menu-head {
    padding-left: 25px;
    display: inline-block;
}

.dialog-input .main-warp li > a.menu-head i {
    background: url(//pc-newtab.maxthonimg.com/static/img/icon/union.png?v=20170830) -102px -63px no-repeat;
    position: absolute;
    top: 4px;
    left: 0px;
    width: 20px;
    height: 20px;
}

.dialog-input .main-warp li > a.menu-head .folder-head-toggle {
    position: absolute;
    top: 8px;
    left: -16px;
    width: 16px;
    height: 16px;
    background: url('//pc-newtab.maxthonimg.com/static/img/icon/icon_arrow_right.png') center center no-repeat;
}

.dialog-input .main-warp li.open > a.menu-head .folder-head-toggle {
    background-image: url(//pc-newtab.maxthonimg.com/static/img/icon/icon_arrow_down.png);
    left: -12px;
}

.dialog-input .main-warp li > a img {
    display: inline-block;
    vertical-align: top;
    margin-top: 7px;
}

.dialog-input .radio-list {
    cursor: pointer;
    float: left;
    background: url(//pc-newtab.maxthonimg.com/static/img/icon/radio.png) no-repeat 0 20px;
    background-size: 20px;
    padding-left: 21px;
    padding-bottom: 24px;
}

.dialog-input .radio-list.selected {
    background-image: url(//pc-newtab.maxthonimg.com/static/img/icon/radio_selected.png);
}

.dialog-input .radio-list.disabled {
    background-image: url(//pc-newtab.maxthonimg.com/static/img/icon/radio_disable.png);
}

.dialog-input label {
    cursor: pointer;
}

.dialog-input label {
    margin-right: 20px;
    position: relative;
    top: 14px;
    display: block;
    max-width: 80px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.dialog-input .nav-text {
    display: inline-block;
    width: 450px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.disabled label {
    color: #ccc;
}


/* 色块 */

.color-block-list {
    overflow: hidden;
    position: absolute;
    right: 0;
}

.color-block-list li {
    width: 20px;
    height: 20px;
    float: left;
    margin: 20px 0px 0px 6px;
    border-radius: 1px;
    cursor: pointer;
    position: relative;
}

.color-block-list li.selected::after {
    content: "";
    bottom: 0;
    right: 0;
    z-index: 2;
    width: 20px;
    height: 20px;
    position: absolute;
    background: transparent url(//pc-newtab.maxthonimg.com/static/img/icon/union.png?v=20170830) no-repeat -58px -190px;
}

.disable li.selected::after {
    background-image: none;
}

.dialog-input p.error {
    font-size: 12px;
    color: #f95344;
    padding: 0px 26px;
    position: absolute;
    top: 33px;
    left: -6px;
    display: none;
    line-height: 33px;
}

.dialog-input p.error em {
    width: 18px;
    height: 18px;
    position: absolute;
    background: transparent url(//pc-newtab.maxthonimg.com/static/img/icon/union.png?v=20170830) no-repeat -228px -64px;
    text-indent: -999px;
    left: 5px;
    top: 7px;
}

#dialog_add_btn {
    width: 120px;
    height: 36px;
    line-height: 36px;
    color: #fff;
    background-color: #007cff;
    border: none;
    font-size: 14px;
    cursor: pointer;
}

#grid_list {
    padding-left: 30px;
}

.grid-nav {
    margin-top: 20px;
    float: left;
}

.grid-nav li {
    float: left;
    height: 30px;
    line-height: 30px;
    display: inline;
    color: #666666;
    padding: 0px 11px;
    text-align: center;
}

.grid-nav li.current {
    background-color: #C6D6EE;
}

.grid-nav li a {
    color: #999;
    font-size: 14px;
    font-family: "微软雅黑";
}

.grid-nav li.current a {
    color: #0062CF;
}

.grid-search {
    margin: 20px 20px 0px 0px;
    float: right;
    position: relative;
}

.grid-search input {
    color: #999;
    background-color: #fff;
    border: 1px solid #c0c0c0;
    padding: 0px 30px;
    height: 28px;
    line-height: 28px;
    width: 120px;
    font-size: 12px;
}

.grid-search-icon {
    position: absolute;
    width: 20px;
    height: 20px;
    background: transparent url(//pc-newtab.maxthonimg.com/static/img/icon/union.png?v=20170830) no-repeat -220px -5px;
    top: 6px;
    left: 10px;
    cursor: pointer;
}

.dialog-grid-list {
    float: left;
    margin-top: 20px;
    height: 290px;
    overflow: auto;
    width: 896px;
}

.dialog-grid-list li {
    float: left;
    display: inline;
    margin-right: 30px;
    margin-bottom: 20px;
}

.dialog-grid-list li:nth-child(5n) {
    margin-right: 0px;
}

.dialog-grid-list .grid-img {
    border-radius: 3px;
}

.dialog-grid-list .grid-title {
    text-align: center;
    font-size: 12px;
    color: #666666;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    padding-top: 5px;
}

.grid-title {
    display: none;
}


/** 添加快速拨号 end */


/* 删除文件夹对话框 */

#delete_folder,
#note_is_delete {
    position: fixed;
    display: none;
    opacity: 0;
    z-index: 1;
    width: 482px;
    margin: -106px 0 0 -241px;
    background-color: #fff;
    height: auto;
    border-radius: 0px;
}

#delete_folder .dialog-header,
#note_is_delete .dialog-header {
    overflow: hidden;
    border-bottom: none;
}

.dialog-header h1 {
    font-size: 14px;
    padding-left: 20px;
    margin: 0px;
}

.dialog-content {
    padding: 30px 0 36px 130px;
}

.dialog-content h3 {
    margin: 0px;
    max-width: 300px;
}

.dialog-content .ui-icon {
    position: absolute;
    left: 70px;
    top: 62px;
}

.dialog-content p {
    font-size: 13px;
    line-height: 20px;
    width: 280px;
    color: #999;
    margin-top: 10px;
}

.dialog-footer {
    background-color: #f1f1f1;
    text-align: right;
    border-top: #e4e4e4 1px solid;
    padding: 9px 15px;
}

.dialog-footer button {
    height: 28px;
    padding: 0 20px;
    margin-left: 16px;
    border: 1px solid silver;
    font-size: 12px;
    background-color: #fff;
}

.dialog-footer button:hover {
    background-color: #e6f4fe;
}

.dialog-footer .primary,
.dialog-footer button:hover {
    border-color: #449efb;
}