/** newtab reset **/

body,
div,
p,
ul,
ol,
li,input,button {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family:  'Microsoft Yahei','Helvetica Neue', Arial, sans-serif;
}

body {
    font-size: 12px;
    color: #333;
    /* padding-left: calc(100vw - 100%); */
}

::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.3);
    border-radius: 8px;
    transition: background 0.3s;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0,0,0,0.4);
}

/*定义滑块 内阴影+圆角*/ 

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

button {
    border: 0;
    outline: 0;
    cursor: pointer;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, "Microsoft YaHei";
}

strong {
    cursor: default;
}

a {
    text-decoration: none;
    color: #333;
    outline: none;
}
