/**
 *  快速拨号前台页面
 *  @author  guotingjie@maxthon.net
 */
body {
	-webkit-user-select: none;
	font-family: "Segoe UI",Tahoma,Geneva,Verdana,"Microsoft YaHei", Helvetica, Tahoma, Arial;
	font-size: .875em;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.hide{display: none;}
.draging{opacity: 0;}
.fl{float:left}
.fr{float:right;}


#wrapper {
	width: 85%;
	max-width: 1200px;
	min-width: 900px;
	margin: 165px auto 100px;
}

#top { width: 104%;margin-left: -1.5%;position: relative;z-index: 1; height: 120px;}
.top.grid {width: 7%;margin:0 2%;}
.top.grid:hover {transform: scale(1.08);transition: .3s transform;}
.top.grid > a {
	display: block;
	text-align: center;
	height: 0;
	padding-bottom: 97%;
	width: 97%;
	border-radius: 10px;
	margin: 0 auto;
	background-size: cover;
	box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.top.grid .empty { 
	background-color: rgba(255,255,255,0.8);
}

.top.grid .add {
	overflow: hidden;
	background-color: rgba(255,255,255,0.8);
}

i.sprite.sprite-circle {
	background: url(//pc-newtab.maxthonimg.com/static/img/icon/union.png?v=20170830) 1px -112px no-repeat;
	position: absolute;
	width: 50px;
	height: 50px;
	left: 50%;
	top: 50%;
	margin-left: -25px;
	margin-top: -25px;
}

.top.grid i.sprite.sprite-circle {background-position: 3px -188px; }

.top.grid .color-block {
    font-size: 40px;
    overflow: hidden;
	padding: 50% 0;
	width: 100%;
	height: 0;
	line-height: 4%;
	max-width: 100px;
	border-radius: 10px;
	box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.grid {position: absolute;transition: all 0.3s;}
.grid::before{content: "";top: 0;bottom: 0;left: 0;right: 0;z-index: 2;}
.top.grid::before{border-radius: 10px;}
/**
 * 我的站点
 */
.main.grid {
   box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.1);
   margin: 0 0.8% 1% 0.8%;
   width: 15%;
   height: 0px;
   padding-bottom: 10%;
   overflow: hidden;
   border-radius: 3px;
}
.main.grid > a {display: block;height: 0; width: 100%;text-align: center;border: none;overflow: hidden;padding-bottom: 70%;position: absolute;}
.main.grid > a > img {width: 100%;height: auto;box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);}
.main.grid .add{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	padding: 0;
	margin: -30px 0 0 -30px;
	z-index: 2;
    text-indent: -999px;
	overflow: hidden;
}
.main.grid.remove{
	transform: scale(0);
}
.main.grid:hover{
	box-shadow: 0 8px 20px rgba(0,0,0,.3);
}
.main.grid.small{padding-bottom: 0px;}
.grid.notran {transition: all 0s;}
.main.grid.add::before{background-color: rgba(255,255,255,0.8); position: absolute;}
.current::before{background-color:rgba(0, 0, 0, 0.4);transition: all 0.3s;position: absolute;}
.main.combo::before{background-color:rgba(0, 0, 0, 0.4);transition: all 0.3s;position: absolute;border: 6px solid rgba(0, 0, 0, 0.4);}
.main.swap::before {background: rgba(0, 0, 0, 0.4) url(//pc-newtab.maxthonimg.com/static/img/swap_icon.gif) no-repeat 6px 6px;transition: all 0.3s;position: absolute;}
/** 截图loading */
.grid.loading::before{background: #fff url(//pc-newtab.maxthonimg.com/static/img/loading.gif) no-repeat center center;position: absolute;}
.grid.loading > a{ visibility: hidden;}

.thumbnail-container{
	height: 0;
	background-image: linear-gradient(-180deg, rgba(0,0,0,0.50) 0%, rgba(0,0,0,0.70) 100%);
	border: 1px solid rgba(0,0,0,0.30);	
	cursor: pointer;
	padding-bottom: 67%;
	overflow: hidden;
}

.thumbnail-container .loading {
	background: #fff url(//pc-newtab.maxthonimg.com/static/img/loading.gif) no-repeat center center;
	background-size: 30% 45%;
}	
.thumbnail {
	width: 40%;
	height: 0;
	margin: 4.5% 0 0 6.5%;
	background-size: 100%;
	overflow: hidden;
	padding-bottom: 26%;
	float: left;
	position: relative;
}
.thumbnail>span{position: absolute;text-overflow: ellipsis;white-space: nowrap;left: 50%;top: 50%;margin-left: -45%;margin-top: -15px;width: 90%; overflow: hidden;height: 30px;line-height: 30px;text-align: center;}

.thumb {width: 93.6%; margin: 3.2% 3.2%; padding-bottom: 60%; height: 0px; background-size: cover;}
.main.grid.loading  > a > img {visibility: hidden;}
.grid .function {text-align: left;overflow: hidden; color: #fff;background-color: #000;font-size: 12px;position: absolute;bottom: 0px; width: 100%;height: 0px;line-height: 24px;}
.main.grid:hover .function,.group .function {display: block;opacity: 0.7;cursor: pointer;height: 24px;transition: height 0.3s;}
.grid .function .title{float: left;margin-left: 10px;font-weight: normal;width: 46%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;cursor: pointer;}
.grid .function button{position: absolute;width:18px;height:18px;text-indent: -99px;background-size: 20px;top: 2px;overflow: hidden;}
.grid .function button.delete{right: 5px;background: url(//pc-newtab.maxthonimg.com/static/img/icon/delete.png) no-repeat #000;background-size: 20px;}
.grid .function button.delete:hover{background-image: url(//pc-newtab.maxthonimg.com/static/img/icon/delete_hover.png);}
.grid .function button.edit{right:27px;background: url(//pc-newtab.maxthonimg.com/static/img/icon/edit.png) no-repeat #000;background-size: 20px;}
.grid .function button.edit:hover{background-image: url(//pc-newtab.maxthonimg.com/static/img/icon/edit_hover.png);}
.grid .function button.refresh{right:51px;background: url(//pc-newtab.maxthonimg.com/static/img/icon/refresh.png) no-repeat #000;background-size: 20px;}
.grid .function button.refresh:hover{background-image: url(//pc-newtab.maxthonimg.com/static/img/icon/refresh_hover.png);}
.group .function button{display: none;}
.group:hover .function button{display: block;}
.main.grid .color-block {font-size: 20px;width: 60%;overflow:hidden; text-overflow: ellipsis;white-space: nowrap;position: absolute;left: 50%;top: 50%;margin-top: -15px;margin-left: -30%;height: 30px;line-height: 20px;}

.color-block-1{background-color: #00BD9C;color: #fff;}
.color-block-2{background-color: #1FCE6D;color: #fff;}
.color-block-3{background-color: #E87E04;color: #fff;}
.color-block-4{background-color: #E94B35;color: #fff;}
.color-block-5{background-color: #2C97DE;color: #fff;}
.color-block-6{background-color: #ffffff;color: #545454;}
.color-block-7{background-color: #33495F;color: #fff;}
.color-block-8{background-color: #94A5A6;color: #fff;}
.color-block-9{background-color: #9C56B8;color: #fff;}
.main.grid.loading .grid .function,.main.grid.loading .color-block,.main.grid.loading .my-site-mask { visibility: hidden; }

#main {position: relative;z-index: 1;}
#main .nav-header{margin-left: -0.8%;}
.nav-header-menu {float: left;position: relative;left: 50%;}
.nav-header-menu li{
	float: left;
	position: relative;
	left: -50%;
	text-align: center;
	height: 40px;
	line-height: 40px;
	padding: 0px 20px;
	font-size: 15px;
}

.nav-header-menu li > a {
	display: block;
	height: 100%;
	color: #000;
	opacity: 0.5;
}

.nav-header-menu li.active > a{
	color: #333;
	/* 解决点击出现外边框的问题 */
	outline:medium;
	border-bottom: 1px solid #333;height: 39px;
	opacity: 1;
}
.nav-body {position: relative;left: 1px;top: 20px;margin-left:-0.8%;}


#group_list .grid-list-container {
    display: none;
}
#group_list .grid-list-container.show {
    display: block;
}
/** 右键菜单-begin */
.mx-popup-menu{
    position:absolute;
    z-index:999;
    top:-9999px;
    left:-9999px;
}
.mx-popup-menu ul{
    border:1px solid #bbb;
    background:#FFFFFF ;
    padding:2px 0px 2px 0px;
    box-shadow:1px 1px 6px rgba(0,0,0,.2);
    overflow:hidden;
    min-width: 150px;
}
.mx-popup-menu ul li{
    float:left;
    clear:both;
    width : 100%;
    cursor:pointer;
    z-index: 103;
}
.mx-popup-menu .mx-menu-item-icon {
    width: 22px;
    height: 22px;
    float: left;
    padding:3px 0px 2px 0px;
}
.mx-popup-menu .mx-menu-item-title {
    display: inline-block;
    padding:3px 20px 2px 2px;
    height:22px;
    line-height:22px;
    font-size:12px;
}

.mx-popup-menu .mx-menu-item-disabled{
    color:#D3D3D3;
}

.mx-popup-menu .mx-menu-item-separator{
    height: 1px;
	border: 1px dotted #C7C7C7;
	border-top: none;
	border-left: none;
	border-right: none;
    width:100%;
    margin: 2px 0 2px 0;
}

.mx-popup-menu .mx-menu-item:hover{
    background-color : #e5f3fe;
}

.mx-mask-layer {
	display: none;
	background-color: #000;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	opacity: 0.4;
	position: fixed;
	transition: opacity 0.3s;
    z-index: 1;
}
.face-out {opacity: 0.6;}

/** 右键菜单-end */

/** 背景透明时的样式 */
.light .nav-header-menu li>a {color: #fff; opacity: 0.5}
.light .nav-header-menu li.active > a { border-bottom-color: #fff; opacity: 1;}
.light .thumbnail-container{background-color: rgba(255,255,255,.3); border: 1px solid rgba(255,255,255,0.15); background-image: none;}
/** 添加快速拨号 begin */

.dialog {
	display: none;
	width: 948px;
	height: 440px;
	box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.20);
	position: fixed;
	background-color: #f1f1f1;
	z-index: 999;
	transition: all 0.3s;
	margin: -220px 0px 0px -479px;
	left: 50%;
	top: 50%;
}

.dialog-warp {
	position: relative;
}

.dialog-header {
	border-bottom: 1px solid #e4e4e4;
    height: 47px;
    line-height: 47px;
    overflow: hidden;
}
.dialog-nav {
	font-size: 15px;
	height: 100%;
	background-color: transparent;
	color: #999;
	cursor: pointer;
	float: left;
	position: relative;
	left: 50%;
}
.dialog-nav li {
	float: left;
	height: 46px;
	padding: 0 15px;
	position: relative;
	right: 50%;
}

.dialog-nav .selected {
	color: #0080ff;
	border-bottom: 1px solid #0080ff;
}

.dialog-header .close {
	position: absolute;
	right: 14px;
	top: 9px;
	cursor: pointer;
	background: transparent url(//pc-newtab.maxthonimg.com/static/img/icon/union.png?v=20170830) no-repeat -129px -60px;
	width: 24px;
	height: 24px;
	text-indent: -99px;
	overflow: hidden;
}

.dialog-header .close:hover {
	background-position: -154px -60px;
}
.dialog-body {height: 400px;}
.dialog-custome-add {
	margin: 24px auto 30px 175px;
}
.dialog-input {line-height: 32px;color: #666;position: relative;outline: none;width: 572px;}
.dialog-input .input{
	padding:10px 15px;
	width: 56%;
	color: #999;
	background-color: #fff;
	border: 1px solid #e4e4e4; 
	margin: 0px 0px 30px 10px;
	font-size: 14px;
    font-family: "微软雅黑";
	height: 14px;
	line-height: 24px;
}
.dialog-input .input:hover,.dialog-input .input:focus{border-color: #449efb;}
.dialog-input .input.error{border-color: #f95344;}
.dialog-input .tab {overflow: hidden; width: 570px; border: 1px solid #e4e4e4;border-bottom: none; background-color: #f8f8f8; height: 36px; line-height: 36px;color: #666;}
.dialog-input .tab li.hover{background-color: #fff; color: #0080ff;}
.dialog-input .tab li{float: left;padding:0px 10px; text-align: center;width:120px;cursor: pointer; text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.dialog-input .main > ul{padding: 2px 0px;position: relative;}
.dialog-input .main > li {position: relative;}
.dialog-input .main-warp{width: 570px;height: 150px;overflow: auto;border: 1px solid #e4e4e4; border-top: none; background-color: #fff;}
.dialog-input .main-warp li{height: 30px;line-height: 30px;overflow: hidden;background-repeat: no-repeat;background-position: 22px 8px;cursor: pointer;padding-left: 20px;}
.dialog-input .main-warp li:hover{background-color: #f8f8f8;}
.dialog-input .main-warp #note_tree li:hover{background-color: #fff;}
.jstree-wholerow{display: none;background-color: #f8f8f8; width: 100%; height: 30px; position: absolute; left: 0px; }
.dialog-input .main-warp li.open{height: auto;}
.dialog-input .main-warp li > a {display: block;width: 450px;height: 30px;position: relative; text-overflow: ellipsis;white-space: nowrap;}
.dialog-input .main-warp li > a.menu-head{padding-left: 25px;display: inline-block;}
.dialog-input .main-warp li > a.menu-head i{background:url(//pc-newtab.maxthonimg.com/static/img/icon/union.png?v=20170830) -102px -63px no-repeat;position: absolute;top:4px;left:0px;width: 20px;height: 20px;}
.dialog-input .main-warp li > a.menu-head .folder-head-toggle {position: absolute;top:8px;left:-16px;width: 16px;height: 16px;background: url('//pc-newtab.maxthonimg.com/static/img/icon/icon_arrow_right.png') center center no-repeat; }
.dialog-input .main-warp li.open > a.menu-head .folder-head-toggle{background-image: url(//pc-newtab.maxthonimg.com/static/img/icon/icon_arrow_down.png);left: -12px;}
.dialog-input .main-warp li > a img{display: inline-block;vertical-align: top;margin-top: 7px;}
.dialog-input .radio-list {cursor: pointer;float: left;background: url(//pc-newtab.maxthonimg.com/static/img/icon/radio.png) no-repeat 0 20px;background-size: 20px; padding-left: 21px;padding-bottom: 24px;}
.dialog-input .radio-list.selected{background-image:url(//pc-newtab.maxthonimg.com/static/img/icon/radio_selected.png); }
.dialog-input .radio-list.disabled{background-image:url(//pc-newtab.maxthonimg.com/static/img/icon/radio_disable.png);}
.dialog-input label{cursor: pointer;}
.dialog-input label{margin-right: 20px;position: relative;top: 14px;display: block;max-width: 80px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.dialog-input .nav-text{display: inline-block; width: 450px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.disabled label{color: #ccc;}

/* 色块 */
.color-block-list {overflow: hidden;position: absolute;right: 0;}
.color-block-list li{width: 20px;height: 20px;float: left;margin:20px 0px 0px 6px;border-radius: 1px;cursor: pointer;position: relative;}
.color-block-list li.selected::after {
		content: "";
		bottom: 0;
		right: 0;
		z-index: 2;
		width: 20px;
		height: 20px;
		position: absolute;
		background: transparent url(//pc-newtab.maxthonimg.com/static/img/icon/union.png?v=20170830) no-repeat -58px -190px;
}
.disable li.selected::after {background-image: none;}
.dialog-input p.error {font-size: 12px;color: #f95344;padding: 0px 26px;position: absolute;top: 33px;left: -6px; display: none;line-height: 33px;}
.dialog-input p.error em {
    width: 18px;
    height: 18px;
    position: absolute;
    background: transparent url(//pc-newtab.maxthonimg.com/static/img/icon/union.png?v=20170830) no-repeat -228px -64px;
    text-indent: -999px;
    left: 5px;
    top: 7px;
}

#dialog_add_btn {
	width: 120px;
    height: 36px;
    line-height: 36px;
    color: #fff;
    background-color: #007cff;
    border: none;
	font-size: 14px;
    cursor: pointer;
}

#grid_list {
	padding-left:30px;
}

.grid-nav {
	margin-top: 20px;
	float: left;
}

.grid-nav li{
	float: left;
	height: 30px;
	line-height: 30px;
	display: inline;
	color: #666666;
	padding: 0px 11px;
	text-align: center;
}
.grid-nav li.current{
	background-color: #C6D6EE;
}
.grid-nav li a {
	color: #999;
	font-size: 14px;
	font-family: "微软雅黑";
}

.grid-nav li.current a{
	color: #0062CF;
}

.grid-search {
	margin:20px 20px 0px 0px;
	float: right;
	position: relative;
}

.grid-search input{
	color: #999;
	background-color: #fff;
	border: 1px solid #c0c0c0; 
	padding: 0px 30px;
	height: 28px;
	line-height: 28px;
	width: 120px;
	font-size: 12px;
	
}
.grid-search-icon {
    position: absolute;
    width: 20px;
    height: 20px;
    background: transparent url(//pc-newtab.maxthonimg.com/static/img/icon/union.png?v=20170830) no-repeat -220px -5px;
    top: 6px;
    left: 10px;
    cursor: pointer;
}

.dialog-grid-list {
	float: left;
	margin-top: 20px;
	height: 290px;
	overflow: auto;
	width: 896px;
}
.dialog-grid-list li {
	float: left;
	display: inline;
	margin-right: 30px;
	margin-bottom: 20px;
}
.dialog-grid-list li:nth-child(5n) {
	margin-right: 0px;
}
.dialog-grid-list .grid-img {border-radius: 3px;}
.dialog-grid-list .grid-title {text-align: center;font-size: 12px;color: #666666;text-overflow : ellipsis;white-space : nowrap;overflow : hidden;display: block;padding-top: 5px;}
.grid-title{display: none;}
/** 添加快速拨号 end */

/** 文件夹弹窗 begin **/
#group .top{position: absolute;top: -70px;width: 100%;text-align: center;font-size: 40px;color: #fff;}
#group .top .title{width:511px;position: absolute;left: 50%;margin-left: -255px;overflow:hidden;padding: 0px 10px;height: 50px;line-height: 50px;white-space: nowrap;text-overflow: clip;text-align: center;color: #fff;font-size: 40px;font-family: "Segoe UI",Tahoma,Geneva,Verdana,"Microsoft YaHei";background: transparent;border: none;}
#group .top .title.editable {border-radius: 4px;background-color: rgba(0,0,0,.3);color: #fff;border: 1px solid #fff;}
#group .close{display: none;}
#group .body {padding: 40px 10px 40px 34px;height: 360px;}
#group .group-list{position: relative; height: 380px; overflow-y: auto;}
#group .grid-list-container li{margin:0 1.2% 2%;width: 153px;height: 0px;padding-bottom: 11%;box-shadow: 0 0px 1px 0 rgba(0,0,0,.1);}
#group .grid-list-container .my-site-mask{padding-bottom: 56%;}
/* 删除文件夹对话框 */
#delete_folder,#note_is_delete {position: fixed;display: none;opacity: 0;z-index: 1;width:482px;margin: -106px 0 0 -241px;background-color:#fff;height: auto;border-radius: 0px;}
#delete_folder .dialog-header,#note_is_delete .dialog-header{overflow: hidden;border-bottom: none;}
.dialog-header h1{font-size: 14px;padding-left: 20px;margin: 0px;}
.dialog-content{padding: 30px 0 36px 130px;}
.dialog-content h3{margin: 0px;max-width: 300px;}
.dialog-content .ui-icon {position: absolute;left: 70px;top:62px;}
.dialog-content p{font-size: 13px;line-height: 20px;width:280px;color:#999;margin-top: 10px;}
.dialog-footer {background-color: #f1f1f1;text-align: right; border-top: #e4e4e4 1px solid;padding:9px 15px;}
.dialog-footer button{height: 28px;padding:0 20px;margin-left: 16px;border: 1px solid silver;font-size: 12px;background-color: #fff;}
.dialog-footer button:hover{background-color: #e6f4fe;}
.dialog-footer .primary, .dialog-footer button:hover {border-color: #449efb;}

/** 文件夹弹窗 end **/
#wallpapers {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    min-width: 1000px;
    z-index: -10;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#e2ebf8;
}
#wallpapers video {
	display: none;
	min-width: 100%;
	min-height: 100%;
}

/* 阻止滚动事件加模糊效果 */
.mask{overflow-y: hidden;padding-right: 17px;}
.mask #top, .mask #main,.mask footer {-webkit-filter: blur(8.2px);}

/* 顶部皮肤样式 */
.skin {position: fixed; top: 0; right: 0; display: none;z-index: 1; width: 100%;height: 100%;}
.skin-wrap {width: 100%;height: 100%;background-position: center bottom;background-size: cover; background-image: url(https://pc-newtab.maxthonimg.com/static/img/skin/20171111.png?v=2017);cursor: pointer;}
.skin .close {position: absolute;cursor: pointer;width: 40px;height: 40px;top: 10px;right: 10px;cursor: pointer;background: url("https://pc-newtab.maxthonimg.com/static/img/icon/close.png"); opacity: 0.9;}
.skin .close:hover{ opacity: 1;}

