
.modal-container {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    .modal-body {
        background-color: #fff;
        border-radius: 5px;
        padding: 0 16px;
        width: 440px;
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translate3d(-50%, -50%, 0);
        .modal-title {
            flex: 1;
            font-size: calc(15 / 13 * 100%);
            line-height: 1;
            padding: 16px 0px;
        }
        .modal-close {
            background: transparent;
            border: none;
            cursor: pointer;
            height: 32px;
            padding: 0;
            position: absolute;
            right: 5px;
            top: 5px;
            width: 40px;
            outline: none;
        }
        .modal-close::after, .modal-close::before {
            background-color: rgba(90, 90, 90, 0.7);
            content: '';
            position: absolute;
            height: 2px;
            width: 12px;
            top: 13px;
            left: 19px;
        }
        .modal-close::before {
            transform: rotate(45deg);
        }
        .modal-close::after {
            transform: rotate(-45deg);
        }
        .modal-content {
            min-height: 100px;
        }
        .modal-input {
            padding: 10px 0;
            position: relative;
            input {
                border: none;
                outline: none;
                box-shadow: none;
                padding: 0;
                width: 100%;
                max-width: 100%;
                background: transparent;
                line-height: 24px;
                font-size: 13px;
                color: #000;
                font-family: 'Microsoft Yahei';
            }
            .is-invalid label, .is-invalid span {
                color: #dd2400;
            }
            .paper-input-error {
                position: absolute;
                bottom: -10px;
                left: 0;
            }
            .underline {
                height: 2px;
                position: relative;
            }
            .unfocused-line {
                position: absolute;
                left: 0px;
                right: 0px;
                top: 0px;
                bottom: 0px;
                border-bottom: 1px solid #757575;
            }
            .focused-line {
                position: absolute;
                left: 0px;
                right: 0px;
                top: 0px;
                bottom: 0px;
                border-bottom: 2px solid #4285f4;
                transform-origin: center center;
                transform: scale3d(0,1,1);
            }

            .underline.is-highlighted .focused-line {
                transform: none;
                transition: transform 0.25s;
            }

            .underline.is-invalid .focused-line {
                transform: none;
                transition: transform 0.25s;
                border-color: #dd2400;
            }
        }
        .modal-footer {
            padding: 16px 6px;
            display:flex;
            justify-content: flex-end;
            button {
                margin: 0 2px;
                padding: 8px 20px;
                font-size: 14px;
                border-radius: 2px;
                border: 0;
                outline: none;
                color: #757575;
                float: right;
                background: none;
                cursor: pointer;
                font-family: 'Microsoft Yahei';
                &:hover {}
            }

            .ok-btn {
                color: #fff;
                background: #4285f4;
                line-height: 154%;
                font-family: 'Microsoft Yahei';
            }
        }
    }
}
