.modal-open {
    .modal-container {
        background-color: rgba(33, 33, 33, .4);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 1;
        .modal-body {
            background-color: #fff;
            border-radius: 5px;
            padding: 10px;
            width: 440px;
            position: absolute;
            left: 50%;
            top: 40%;
            transform: translate3d(-50%, -50%, 0);
            .modal-title {
                font-size: 15px;
            }
            .modal-content {
                min-height: 100px;
            }
            .modal-footer {
                text-align: right;
                button {
                    margin: 0 2px;
                    padding: 8px 27px;
                    font-size: 13px;
                    border-radius: 2px;
                    border: 0;
                    outline: none;
                    color: #ccc;
                    float: right;
                    background: none;
                    &:hover {
                        cursor: pointer;
                        color: #fff;
                        background-color: #3689ef;
                    }
                }
            }
        }
    }
}