#footer {
    position: fixed;
    width: 100px;
    bottom: 20px;
    right:  0px;
    height: 80px;
}
#footer li {
    height: 40px;
    width: 50px;
    position: relative;
    left: 40px;
}
#footer li.no {
    visibility: hidden;
}

#footer li:hover span{
    background-color: #f8f8f8;
}
#footer .download {
    display: none;
    position: absolute;
    right: 54px;
    width: 126px;
    background: #fff;
    height: 160px;
    bottom: 8px;
    text-align: center;
    color: #666;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
}
#footer li:hover .download{
    display: block;
}
#footer ins{
    position: absolute;
    right: -5px;
    bottom: 10px;
    width:0;
    height:0;
    border-top:6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid #fff;
}
#footer .title{
    margin: 8px 0 6px 0;
}
#footer .dev{
    margin: 4px 0 0 0;
    font-size: 12px;
}

#config-button {
    position: absolute;
    top: 2px;
    right: 10px;
    width: 34px;
    height: 34px;
    border-radius: 100px;
    cursor: pointer;
    background:#fff url(//pc-newtab.maxthonimg.com/static/img/icon/union.png?v=20170830) no-repeat -156px 3px;
}
#qr-Code {
    background-position: -234px 3px;
}

#wallpapers {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    min-width: 1000px;
    z-index: -10;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#e2ebf8;
}
#wallpapers video {
    display: none;
    min-width: 100%;
    min-height: 100%;
}