.header {
    margin-top: 16px;
}

.header-action {
    padding-left: 10px;
}

.header-action > li {
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
}

.header-action > li.profile {
    padding-left: 10px;
    display: flex;
    cursor: pointer;
}

.header-action > li > a {
    text-decoration: underline;
}

.light .header-action > li > a {
    color: #fff;
}

.header-action > li img {
    vertical-align: middle;
    height: 28px;
    width: 28px;
}

.profile .line {
    color: #ddd;
    margin-right: 20px;
}

.profile .login {
    text-decoration: none;
}

.profile-dropdown {
    display: flex;
    position: relative;
    margin-left: 10px;
}

.profile-continer {
    background-color: #f8f8f8;
    position: absolute;
    right: 0px;
    top: 28px;
    z-index: 3;
    border: 1px solid #DDD;
    box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.1);
    display: none;
}

.profile-dropdown:hover .profile-continer {
    display: block;
}

.profile-detail {
    padding: 0 20px 10px;
    width: 200px;
}

.profile-detail h4 {
    margin: 6px 0;
}

.profile-detail .grade {
    background-color: #f5a623;
    padding: 0 5px;
    margin-left: 5px;
    color: #fef7ec;
}

.profile-detail .use-space-info {
    color: #666;
    font-size: 11px;
}

.profile-detail .async-date {
    color: #999;
    font-size: 10px
}

.profile-detail .progress {
    height: 4px;
    border-radius: 10px;
    background: #D8D8D8;
}

.progress .extend {
    height: 4px;
    background: linear-gradient(-204deg, #00AAFF 0%, #057CFF 100%);
    position: absolute;
}

.profile-continer > ul {
    border-top: 1px solid #DDD;
    background-color: #fff;
    padding: 6px 0;
}

.profile-continer li {
    padding: 0 20px;
}

.profile-continer li:hover {
    background-color: rgba(0, 0, 0, 0.06);
}

.profile-continer li > a {
    display: block;
}

.gl {
    width: 12px;
    height: 12px;
    position: absolute;
    border-left: 1px solid #999;
    border-bottom: 1px solid #999;
    transform: translate(0, -50%) rotate(-135deg);
    cursor: pointer;
    display: none;
}
