.header {
    min-width: 900px;
    height: 32px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 998;
    transition: top .5s linear;
}

.no-fixed {
    position: absolute;
    top: 240px;
}

/* .header .before, .header .after {} */

/* .header .before {
    background-image: none;
} */

.header .after {
    overflow: hidden;
    z-index: -1;
    position: relative;
    height: 32px;
    width: 100%;
    /* background-color: #000; */
    /* opacity: 0.2; */
}

.header .blbg {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    filter: blur(10px);
    transform: scale(1.5);
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.header-action {
    position: absolute;
    right: 0;
    z-index: 2;
}

.header-action > li {
    padding: 0 10px;
    height: 32px;
    line-height: 32px;
}

.header-action > li.profile {
    padding-left: 10px;
    display: flex;
    display: -webkit-flex;
    cursor: pointer;
}

.dark .header-action > li > a, .dark .header-action > li > span {
    color: #fff;
    opacity: 0.9;
}

.header-action > li img {
    margin-top: 8px;
    height: 16px;
    width: 16px;
    border-radius: 50%;
}

.header-action > li > span.line {
    opacity: 0.16;
}

.header .setting {
    display: inline-block;
    padding-right:16px;
    cursor: pointer;
}

.profile .login {
    text-decoration: none;
}

.profile-dropdown {
    display: flex;
    position: relative;
    margin-left: 10px;
}

.profile-continer {
    background-color: #f8f8f8;
    position: absolute;
    right: 0px;
    top: 28px;
    z-index: 3;
    border: 1px solid #DDD;
    box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.1);
    display: none;
}

.profile:hover .profile-continer {
    display: block;
}

.profile-detail {
    padding: 0 20px 10px;
    min-width: 200px;
}

.profile-detail h4 {
    margin: 6px 0;
}

.profile-detail p {
    white-space: nowrap;
}

.profile-detail .grade {
    background-color: #f5a623;
    padding: 0 5px;
    margin-left: 5px;
    color: #fef7ec;
}

.profile-detail .use-space-info {
    color: #666;
    font-size: 11px;
}

.profile-detail .async-date {
    color: #999;
    font-size: 10px
}

.profile-detail .progress {
    height: 4px;
    border-radius: 10px;
    background: #D8D8D8;
    position: relative;
}

.progress .extend {
    height: 4px;
    background: linear-gradient(-204deg, #00AAFF 0%, #057CFF 100%);
    position: absolute;
}

.profile-continer > ul {
    border-top: 1px solid #DDD;
    background-color: #fff;
    padding: 2px 0 4px;
}

.profile-continer li {
    padding: 0 20px;
}

.profile-continer li:hover {
    background-color: rgba(0, 0, 0, 0.06);
}

.profile-continer li > a {
    display: block;
}

.gl {
    width: 20px;
    height: 25px;
    position: fixed;
    background:transparent url(//pc-newtab.maxthonimg.com/static/img/icon/union.png?v=20171128) no-repeat -146px -126px;
    cursor: pointer;
    display: none;
    z-index: 2;
    left: -4px;
    top: 3px;
}

.gl.lt {
    background-position-y: -153px;
}
.gl.gt {
    background-position-y: -130px;
}

.dark .gl {
    background-position-x: -168px;
}
.dark .gl.lt{
    background-position-y: -153px;
}

.dark .gl.gt {
    background-position-y: -130px;
}